:root {
  --text-color-light: #ffffff;
  --text-color-dark: #6b6b6b;
  --fill-color-light: #ffffff;
  --fill-color-dark: #6b6b6b;
  --container-area-width: 900px;
  --container-area-height: 100vh;
  --container-area-padding-left-right: 50px;
  --header-z-index: 99;
  --body-z-index: 1;
  --footer-z-index: 1;
  --background-z-index: -99;
  --h4-font-size: 35pt;
  --h3-font-size: 20pt;
  --h2-font-size: 15pt;
  --p-font-size: 13pt;
  --logo-height-width: 50px;
  --header-height: calc(var(--logo-height-width) + 20px);
  --page-height: calc(100vh - var(--header-height));
  --page-background-color-wheat: #e9e2cf;
  --page-background-color-green: #5a7262;
  --page-background-color-grey: #3d3d3d;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  opacity: 0;
  background-color: var(--page-background-color-grey);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

h4,
h3,
h2,
p,
a {
  margin: 0;
  padding: 0;
}

h4 {
  font-size: var(--h4-font-size);
  font-weight: bold;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: bold;
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: bold;
}

P {
  margin-top: 20px;
  font-size: var(--p-font-size);
}

a {
  text-decoration: none;
  display: inline-block;
}

.show {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.user-select-none {
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-drag: none;
  /* Safari */
  -webkit-user-select: none;
  /* Safari */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera, Edge, and Safari */
}

.logo svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
  fill: inherit;
}

.login-btn:hover {
  text-decoration: underline !important;
}

.container-area {
  margin: auto;
  padding-left: var(--container-area-padding-left-right);
  padding-right: var(--container-area-padding-left-right);
  width: var(--container-area-width);
}

.page {
  scroll-snap-align: start end;
  width: 100%;
  height: var(--page-height);
  position: relative;
  padding-top: var(--header-height);
  min-height: calc(700px - var(--header-height));
}

.dark {
  color: var(--text-color-light);
  fill: var(--fill-color-light);
}

.light {
  color: var(--text-color-dark);
  fill: var(--fill-color-dark);
}

.body {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  padding: 0;
  position: relative;
}

.side-navi {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20px;
  right: 30px;
  top: 40%;
}

.side-navi a {
  width: 20px;
  height: 20px;
  margin-bottom: 20px;
  transform: scale(0.7);
}

.side-navi svg {
  width: 20px;
  height: 20px;
  fill: #ffffff00;
  stroke: #ffffff;
  stroke-width: 4px;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.7));
}

.side-navi a:hover svg {
  fill: #ffffff;
}
