:root {
  --container-area-width-mobile: calc(
    100% - var(--container-area-padding-left-right) * 2
  );
  --container-area-width: var(--container-area-width-mobile);
  --container-area-padding-left-right-mobile: 20px;
  --container-area-padding-left-right: var(
    --container-area-padding-left-right-mobile
  );
  --h4-font-size-mobile: 20pt;
  --h4-font-size: var(--h4-font-size-mobile);
  --h3-font-size-mobile: 15pt;
  --h3-font-size: var(--h3-font-size-mobile);
  --h2-font-size-mobile: 13pt;
  --h2-font-size: var(--h2-font-size-mobile);
  --p-font-size-mobile: 13pt;
  --p-font-size: var(--p-font-size-mobile);
  --page-min-height-mobile: 500px;
  --page-min-height: var(--page-min-height-mobile);
  --footer-padding-top-mobile: 20px;
  --footer-padding-top: var(--footer-padding-top-mobile);
  --footer-content-height-mobile: 300px;
  --footer-content-height: var(--footer-content-height-mobile);
  --footer-meta-height-mobile: 50px;
  --footer-meta-height: var(--footer-meta-height-mobile);
  --footer-content-div-width-mobile: 90px;
  --footer-content-div-width: var(--footer-content-div-width-mobile);
}

.header .logo {
  width: var(--logo-height-width);
  height: var(--logo-height-width);
}
.header .menu-btn {
  width: var(--logo-height-width);
  height: var(--logo-height-width);
  display: block;
}

.header .navigation {
  left: 0;
  top: var(--header-height);
  background-color: #3e3e3ef7;
  z-index: var(--header-z-index);
  padding-left: var(--container-area-padding-left-right);
  padding-right: var(--container-area-padding-left-right);
  width: var(--container-area-width);
  height: 0px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: fixed;
  display: block;
}

.header .navigation.show {
  height: 350px;
}
.header .navigation a {
  padding: 10px 0;
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0;
  line-height: 50px;
}

.header .navigation a:active {
  text-decoration: underline !important;
  color: #a8a8a8;
}

.container-area {
  min-width: auto;
}

.side-navi {
  right: 10px;
  /* display: none; */
}

.footer-content > div.footer-logo {
  display: none;
}
