.news-detail {
  background-color: var(--page-background-color-wheat);
}

.news-detail-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
}

.news-detail-content a {
  color: inherit;
  text-decoration: underline;
  font-weight: bold;
}
