section {
  background-color: var(--background-light);
  padding: 5rem 0;
}

section .container-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

section .container-area > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: start;
}

.container-left {
  padding-right: 50px;
}

.container-right {
  align-items: start;
  padding-left: 50px;
}

.container-area h3 {
  margin-top: 20px;
}

.container-area p {
  padding-left: 10px;
}
