.news {
    background-color: var(--page-background-color-wheat);

}

.news-container {
    height: 100%;
}

.news-container-title {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.news-container-list {
    height: 80%;
}

.news-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.news-item {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #6b6b6b50;
    padding-bottom: 20px;
}

.news-content {
    padding: 0 20px;
    margin: auto;
    width: 500px;
}

.news-content a {
    color: inherit;
    text-decoration: none;
}

.news-content a:hover {
    text-decoration: underline;
}