.news {
    background-color: var(--page-background-color-wheat);
}

#news .news-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#news .news-container .news-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#news .news-container .news-list .news-item {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #6b6b6b50;
    padding-bottom: 20px;
}

#news .news-container .news-list .news-item .news-image {
    width: 300px;
    height: 200px;
    overflow: hidden;
    background-size: 300px;
}

#news .news-container .news-list .news-item .news-image img {
    width:  100%;
}

#news .news-container .news-list .news-item .news-content {
    width: calc(100% - 300px - 40px);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 0 20px;
}