#home {
    background-color: #ffffff00;
}

#home .header {
    height: 150px;
    opacity: 0.8;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home .header .logo {
    width: 100px;
    height: 100px;
    fill: #ffffff;
}

#home .header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#home .header a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    display: inline-block;
    font-size: 14pt;
    font-weight: bold;
}

#home .main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 150px);
}

#home .main h4 {
    font-weight: bold;
    color: #ffffff;
}