:root {
  --footer-height-mobile: 350px;
  --footer-content-div-height-mobile: 230px;
  --footer-content-meta-height-mobile: 70px;
  --footer-height: var(--footer-height-mobile);
  --footer-content-div-height: var(--footer-content-div-height-mobile);
  --footer-meta-height: var(--footer-content-meta-height-mobile);
}

#footer .footer-content .footer-logo {
  display: none;
}
