.drawings {
    background-color: var(--page-background-color-wheat);
}

.drawings-container-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.drawings-title {
    text-align: center;
}

.drawings-content {
    width: 100%;
}
.drawings-content img{
    width: 100%;
}
