.evaluation {
    background-color: var(--page-background-color-wheat);
}

.evaluation-container-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.evaluation-title {
    text-align: center;
}

.evaluation-content {
    width: 100%;
}

.evaluation-content img {
    width: 100%;
}