.practice {
    background-color: var(--page-background-color-wheat);
}

.practice-container-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.practice-title {
    text-align: center;
}

.practice-content {
    width: 60%;
    margin: 0 auto;
}