.container-area {
  min-width: 1500px;
}

.home {
  background-color: var(--page-background-color-wheat);
  min-width: var(--container-area-width);
  overflow: hidden;
}

.home-container-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.home-container-area h4 {
  text-align: center;
}

.home-container-area p {
  margin-top: 50px;
  padding: 0 50px;
}

.practice {
  background-color: var(--page-background-color-wheat);
}

.practice-container-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.practice-title {
  text-align: center;
}

.practice-content {
  width: 60%;
  margin: 0 auto;
}

.practice-content iframe {
  margin: 0 auto;
}

.drawings {
  background-color: var(--page-background-color-wheat);
}

.drawings-container-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.drawings-title {
  text-align: center;
}

.drawings-content {
  width: 100%;
}
.drawings-content img {
  width: 900px;
  position: relative;
  margin: 0 auto;
  display: block;
}

.project {
  background-color: var(--page-background-color-wheat);
}

.project-container-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.project-title {
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

.project-content {
  width: 100%;
  height: calc(100% - 150px);
}

.evaluation {
  background-color: var(--page-background-color-wheat);
}

.evaluation-container-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.evaluation-title {
  text-align: center;
}

.evaluation-content {
  width: 100%;
}

.evaluation-content img {
  width: 900px;
  position: relative;
  margin: 0 auto;
  display: block;
}
